body{
	background: #404040;
}
.row{
	margin:0;
}
.menu{
	margin-top:3%;
	/*padding: 0;*/
	/*background: yellow;*/
}
.con{
	/*background: green;*/
}
.container{
	padding: 0;
}
ul {
	list-style-type: none;
 	padding: 0;
}
.menu_ul {
 	width: 106%;
 	margin: 0 0 0 -0.5%;
 	border-radius: 6px;
 }
 .menu_ul li{
 	overflow: hidden;
 }
@media screen and (max-width: 1400px) and (min-width: 1200px){
	.menu .menu_ul {
   		width: 85%;
   		margin: 0 0 0 10%;
  	}
 }
 @media screen and (max-width: 1200px) and (min-width: 991px){
  	/*.zoom .zoom_show{
  		height: 337px;
  		width: 518px;
  	}*/
  	.zoom_show .swiper-button-prev,.zoom_show .swiper-button-next{
  		top:53%;
  	}
  	.zoom_show .swiper-pagination{
  		bottom: 110px;
  	}
  	/*.con_wrap .zoom{
  		height: 400px;
  	}*/
 }
 @media (max-width: 991px) {
  .menu .menu_ul{
    width: 90%;
    margin-left: 5%;
  }
  .menu_ul .link{
  	text-align: center;
  }
  .menu_ul .link span{
  	float: none;
  }
  .menu_ul .submenu{
  	text-align: center;
  }
}
 .menu_li{
 	border: 1px solid #333;
 	border-radius: 5px;
 	/*padding-bottom: 2%;*/
 }
 .menu_b{
 	background: #303030;
 }
 .link {
	cursor: pointer;
	display: block;
	text-align: left;
	padding: 3% 4% 3% 4%;
	color: #B3916C;
	font-size: 12px;
	font-weight: bold;
	border-radius: 4px;
}
.link span{
	float: right;
}
 .submenu {
 	display: none;
 	text-align: left;
 	font-size: 12px;
 }
 .submenu li{
	margin-bottom: 4px;
 }
 .submenu a {
 	display: block;
 	width: 94%;
 	margin: 0 auto;
 	padding: 3px 5px;
 	border-radius: 4px;
 	text-decoration: none;
 	color: #7D7D7D;
 }
 .submenu a:hover {
 	background: #313131;
 	color: #6E5C49;
 }
.submenu .li_a{
 	background: #313131;
 	color: #6E5C49;
 }
.logo{
	width: 105%;
	margin:5% auto;
	max-width: 200px;
}
.con_wrap{
	width: 90%;
	min-height: 400px;
	margin:11.5% auto 0 auto;
	background: #313131;
	border-radius: 2px;
}
.message{
	display: block;
	width: 95%;
	margin-top: 5px;
	color: #5F5F5F;
	font-size: 12px;
	text-align: right;
}
.aboutus{
	color:#A8845C;
	font-size: 12px;
	width: 100%;
	height: 100%;
	/*display: none;*/
	padding-top: 3%;
}
.aboutus p{
	margin-left: 3%;
	padding-right: 3%;
}
.aboutus span{
	display: block;
	margin-left: 3%;
	padding-right: 3%;
	line-height: 25px;
}
.partone{
	margin-top: 0;
	margin-bottom: 5%;
}
.aboutus_title{
	font-size: 14px;
	margin-bottom: 5%;
}
.zoom{
	width: 100%;
	height: 450px;
	background: #393939;
	overflow: hidden;
	display: none;
}
.zoom_show{
	width: 74%;
	height: 100%;
	/*padding-top: 30px\0;*/
	padding-top: 30px\9;
	background: #313131;
	float: right;
}
.zoom_info{
	width: 25%;
	height: 100%;
	float: left;
}
.info_div{
	width: 80%;
	padding-top:16%;
	padding-bottom: 3px;
	margin-left: 12%;
	margin-bottom: 30px;
	font-size: 12px;
	/*background: yellow;*/
	border-bottom: 1px solid #444;
}
.info_div p{
	color: #8C7051;
}
.info_div ul{
	color:#727272;
	list-style: none;
	margin: 0;
	margin-top:15px;
	padding: 0;
}
.info_div ul li{
	margin-top:6px;
}
.info_p{
	margin-left: 12%;
	color: #8C7051;
	font-size: 12px;
}
.swiper-container{
	width: 70%;
	height: 84%;
	margin-top: 5%;
	background: #313131;
	/*overflow-y:visible;*/
}
.swiper-slide{
	/*width: 500px;*/
}
.swiper-pagination .swiper-pagination-bullet{
	background-color: #666;
	margin: 0 3px;
}
.swiper-pagination .swiper-pagination-bullet-active{
	background-color:#C39966;
}
.swiper-button-prev,.swiper-button-next{
	height: 18px;
	top:60%;
	background: #494949;
	/*display: none\0;*/
	display: none\9;
}
.swiper-button-prev{
	background: url(../img/prev.png) no-repeat;
	background-size: 50% 100%;
	left:35.5%;
}
.swiper-button-next{
	background: url(../img/next.png) no-repeat;
	background-size: 50% 100%;
	right:11%;
}
.zoom_pic{
	width: 100%;
	height: 100%;
}
.swiper-pagination{
	bottom: 38px;
	width: 67%;
}
.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
@media (max-width: 991px) {
	.zoom{
		/*width: 100%;*/
		min-height: 480px;
		/*background: #393939;*/
		/*overflow: hidden;*/
		/*display: none;*/
		position: relative;
		overflow: hidden;
	}
	.zoom_show{
		/*width: 74%;
		height: 100%;
		background: #313131;
		float: right;*/
		position: absolute;
		width: 100%;
		left:0;
		top:0;
		/*height: 78%;*/
	}
	.zoom_info{
		/*width: 25%;
		height: 100%;
		float: left;*/
		position: absolute;
		width: 100%;
		left:0;
		top:81%;
		z-index: 100;
		height: 18%;
		/*overflow: hidden;*/
	}
	.info_div{
		width: 40%;
		padding-top:0;
		padding-bottom: 3px;
		margin: 0 10px 0 15%;
		font-size: 12px;
		float: left;
		border-bottom: none;
	}
	.info_div p{
		color: #8C7051;
	}
	.info_div ul{
		color:#727272;
		list-style: none;
		margin: 0;
		margin-top:10px;
		padding: 0;
	}
	.info_div ul li{
		margin-top:3px;
	}
	.info_p{
		margin-left: 0;
		color: #8C7051;
		font-size: 12px;
		/*float: right;*/
	}
	.swiper-button-prev{
		left:8%;
	}
	.swiper-button-next{
		right:4%;
	}
	.swiper-pagination {
	    bottom: 1%;
	    width: 100%;
	}
}
@media screen and (max-width: 991px) and (min-width: 730px){
	.zoom{
		height: 560px;
	}
}
@media screen and (max-width: 500px) and (min-width: 300px){
	.swiper-container {
		width: 88%;
	}
	.info_div{
		margin-left: 7.5%;
	}
	.swiper-pagination-bullet{
		width: 12px;
		height: 12px;
		margin: 0 5px;
	}
}
.contactus{
	padding: 3% 0 0 3%;
	color:#B3916C;
}
.contactus span{
	font-size: 12px;
	display: block;
	margin-top: 3px;
}
.contactus p{
	font-size: 16px;
}
.dongfang_clear{
	overflow: hidden;
}
.dongfang_left{
	width: 55%;
	float: left;
}
.dongfang_right{
	width: 45%;
	height: 100%;
	float: left;
}
.dongfang_right img{
	width: 48%;
	margin-top: 12%;
}
 @media (max-width: 991px) {
 	.dongfang_left{
 		width: 100%;
 	}
 	.dongfang_right{
 		width: 100%;
 	}
 	.dongfang_right img:first-child{
 		margin-left: 1.7%;
 	}
 }
 @media (max-width: 991px) {
 	.zoom_info{
 		/*overflow: hidden;*/
 	}
	.info_left{
		width: 38%;
		float: left;
		margin: 0 10px 0 5%;
	}
	.info_right{
		width: 50%;
		float: left;
	}
 }