body{
	overflow-x: hidden;
}
.head{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
.art_top{
	position: absolute;
	top:66px;
	left: 0;
	background: none;
	z-index: 2;
}
.bim_wrap{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.bim_con_wrap{
	overflow: hidden;
}
.bim_con_part{
	position: relative;
	width: 100%;
}
.bim_bg{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
}
.top{
	width: 100%;
    margin: 0 auto;
    cursor: pointer;
    max-width: 50px;
}
.top img{
	max-width: 50px;
}
.bim_con_div{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
.building1_t{
	position: absolute;
	bottom: 0;
	right: 4%;
	width:26%;
}
.building1_b{
	position: absolute;
	top:0;
	right: 7.3%;
	width:26%;
}
.building2_t{
	position: absolute;
	bottom: 0;
	left:4%;
	width: 30%;
}
.building2_b{
	position: absolute;
	top: 0;
	left: 7.9%;
	width: 30%;
}
.building3_t{
	position: absolute;
	bottom: 0;
	right: 3.6%;
	width: 30%;
}
.building3_b{
	position: absolute;
	top: 0;
	right: 7.9%;
	width: 30%;
}
@media screen and (max-width: 946px) {
	.building1_t{
		width: 40%;
		right: 1%;
	}
	.building1_b{
		width: 40%;
		right: 6.2%;
	}
	.building2_t{
		width: 40%;
		left: -7%;
	}
	.building2_b{
		width: 40%;
		left: -1.8%;
	}
	.building3_t{
		width: 45%;
		right: -5.5%;
		
	}
	.building3_b{
		width: 45%;
		right: 1%;
	}
}
@media screen and (max-width: 500px){
	.building1_t{
		width: 70%;
		right: -8%;
	}
	.building1_b{
		width: 70%;
		right: 1%;
	}
	.building2_t{
		width: 70%;
		left: -20%;
	}
	.building2_b{
		width: 70%;
		left: -11%;
	}
	.building3_t{
		width: 70%;
		right: -17%;
		
	}
	.building3_b{
		width: 70%;
		right: -7%;
	}
}
.building_info{
	position: absolute;
	width: 75%;
	top: 25%;
	left: 12%;
	z-index: 2;
}
.building_info h3{
	color: #616161;
    display: inline-block;
    background: #cfdb00;
    line-height: 150%;
    font-size: 1.4em;
    padding: 0 8% 0 2%;
}
.building_info span{
	display: block;
    width: 60%;
    line-height: 1.4em;
    margin: 15px 0;
    z-index: 100;
    word-break: break-word;
}
.building_info div{
	overflow: hidden;
	width: 40%;
}
.building_info div img{
	float: left;
	width: 33%;
}
.info2 div img,.info3 div img,.info4 div img{
	width: 48%;
	margin-left:2%; 
}
.info3,.info4{
	left: 30%;
}
@media screen and (max-width: 946px) {
	.building_info{
		top:35%;
	}
}
@media screen and (max-width: 500px) {
	.building_info{
		top:25%;
	}
	.info2{
		top:32%;
	}
	.info3{
		top:15%;
	}
	.info4{
		left: 20%;
	}
	.info5{
		top:35%;
	}
	.building_info div{
		width: 50%;
	}
	.building_info h3{
		font-size: 1em;
	}
}